* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.caregiver-container {
    width: 80%;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.search-bar .search-button {
    background-color: white;
    border: none;
    font-size: 18px;
}

.search-btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #555;
}

.filter-results-container {
    display: flex;
    justify-content: space-between;
}

.filter-section {
    width: 30%;
}

.filter-section h2 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #333;
    text-align: center;
}

.filter-group {
    margin-bottom: 15px;
}

.filter-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #555;
}

.filter-group select,
.filter-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.results-section {
    width: 65%;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.results-section h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.result-card {
    flex: 1 1 calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.result-image {
    width: 100px;
    height: 100px;
    background-color: #e0e0e0;
    border-radius: 8px;
    margin-bottom: 10px;
}

.result-info {
    text-align: center;
}

.result-info h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.result-info p {
    margin-bottom: 8px;
    font-size: 14px;
}

.result-info button {
    padding: 8px 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result-info button:hover {
    background-color: #555;
}
